// ----------------------------------------------------------
// base form elements
// ----------------------------------------------------------

//defined in mixins partials
#{$all-text-inputs}{
  width: 100%;
  border: 1px solid $goldLight;
  margin-bottom: .5rem;
  padding: .5rem;
  transition: border-color $transition;
  border-radius: 0;
  -webkit-appearance: none;
  &:focus {
    border-color: $gold;
    outline: none;
  }
}

textarea {}

label {
  display: block;
}

select {}

button,
input[type="submit"] {
  -webkit-appearance: none;
  border: 1px solid $goldLight;
  background-color: $gold;
  color: $white;
  padding: .25rem .75rem;
  line-height: 1;
  height: 35px;
  vertical-align: top;
  border-radius: 9px;
  font-size: 1em;
  &:hover {
    border-color: $gold;
    background-color: $goldLight;
    color: $gold;
    outline: none;
  }
}

.wpcf7 form p {
  margin: 0 0 1em;
}
.wpcf7-recaptcha {
  margin: 0 0 1em;
}
span.wpcf7-list-item {
  margin: 0 0 0 0 !important;
}
// ----------------------------------------------------------
// validation
// ----------------------------------------------------------

span.wpcf7-not-valid-tip,
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  color: $white !important;
  background-color: $gold !important;
  border: none !important;
  padding: .2em 1em;
}
span.wpcf7-not-valid-tip {
  margin-top: -.5rem;
}

div.wpcf7-response-output {
  margin: 1rem 0 0 !important;
}

.wpcf7-not-valid {
  border-color: $gold !important;
}