// ----------------------------------------------------------
// layout
// ----------------------------------------------------------

html, body {
  padding: 0;
  background-image: url('assets/images/landmark_pattern_tile.gif');
  background-color: $goldLight;
}

svg {
  width: 100%;
}

.site-wrapper {
  background-color: $goldLight;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 30px 20px rgba(0,0,0,0.1);
}

.body {
  padding: 0 0 4rem;
  margin-top: -1px;
  position: relative;
  z-index: 3;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.row {
  @include container;
}
.left-col {
  @include breakpoint($tablet){
    @include span(8 of 12);
  }
}
.right-col {
  @include breakpoint($tablet){
    
    @include span(last 4 of 12);
  }
}
.menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type:none;
  }
}

// ----------------------------------------------------------
// Header and Navigation
// ----------------------------------------------------------

.mega-nav {
  background-color: $redDark;
  padding: 0;
  transition: max-height 400ms ease-in-out;
  overflow:hidden;
  max-height: 0;

  &.open{
    max-height: 800px;
    height: auto;
  }

  #menu-mega-nav {
    @include container;
    margin: 0;
    padding: 1rem 0 2rem 0;
  }

  .menu-item-has-children {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    a {
      &:link, &:visited{
        color: $white;
      }
      &:hover, &:active{
        color: $white;
        text-decoration: underline;
      }
    }
    @media screen and (min-width: 860px) {
      a {
        &:link, &:visited{
          color: $redLight;
        }
        &:hover, &:active{
          color: $redLight;
          text-decoration: underline;
        }
      }
      &.focused {
        a {
          &:link, &:visited{
            color: $white;
          }
          &:hover, &:active{
            color: $white;
            text-decoration: underline;
          }
        }
        a.main-menu-link {
          cursor: default;
          &:hover, &:active{
            text-decoration: none;
          }
        }
      }
    }
    a.main-menu-link {
      cursor: default;
      &:hover, &:active{
        text-decoration: none;
      }
    }
    
    @include breakpoint($tablet){
      @include span(5 of 10);

      &:nth-child(2n) {
        @include span(last 5 of 10);
      }
    }

    @include breakpoint($desktop){
      @include span(2 of 10);

      &:nth-child(2n) {
        @include span(2 of 10);
      }
      &:last-child {
        @include span(last 2 of 10);
      }
    }

  }
  .sub-menu {
    font-size: 1rem;
    text-transform: none;
    margin: 0;
    padding: 0;
  }
  .sub-menu-item {
    @include fontLight;
  }
}
.mega-nav-close {
  color: $redLight;
  cursor: pointer;
  position: absolute;
  top:0;
  right:1.5rem;
  font-size: 3rem;
  width: 40px;
  opacity: 0.3;

  &:hover, &:active {
    opacity: 1;

    polygon{
      fill: $gold;
    }
  }

  @include breakpoint($desktop){
    right:0;
  }
}

.header{
  overflow: hidden;
  @include clearfix;
  position: relative;
  background-color: $white;
  padding-top: 45px;

  @include breakpoint(860px){
    padding:0;
  }
}

.home-slider {
  position: relative;
  min-width: 650px;
  min-height: 353px;
  margin-left: -250px;

  img{
    display: block;
    width: 100%;
    height: 100.2%;
  }

  @include breakpoint(370px){
    min-width: 774px;
    min-height: 448px;
    margin-left: -250px;
  }

  @include breakpoint(513px){
    min-width: 924px;
    min-height: 535px;
    margin-left: -250px;
  }

  @include breakpoint(640px){
    min-width: 1004px;
    min-height: 581px;
    margin-left: -114px;
  }

  @include breakpoint(720px){
    min-width: 1174px;
    min-height: 679px;
    margin-left: -134px;
  }

  @include breakpoint(860px){
    min-width:0;
    min-height:0;
    margin-left:0;
  }

  .slider-control{
    position: absolute;
    top: 59%;
    opacity: .37;
    cursor: pointer;
    width: 24px;

    &:hover,&:active{
      opacity: 1;
      
      path{
        fill: $gold;
      }
    }
  }
  .slider-control-left{
    left:0;
    margin-left: 1rem;
  }
  .slider-control-right{
    right: 0;
    margin-right: 1rem;
  }
}
.header-container {
  padding: 0.5rem 1.5rem 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width:100%;
  max-width: 1200px;

  .buy-tickets {
    display: none;
    position: absolute;
    top:0;
    right:0;
    width: 199px;
    height: 116px;
    background: url('assets/images/buy-tickets-now.png') no-repeat;

    a {
      display: block;
      width: 199px;
      height: 116px;
      text-indent: -9999px;
      transition: opacity $transition;
      &:link, &:visited{
        opacity: 0;
        background-image: url('assets/images/buy-tickets-over.png');
      }
      &:hover, &:active{
        opacity: 1;
      }
    }

    @media screen and (min-width: 860px) {
      display: block;
    }
  }

  @include breakpoint(370px){
    padding: 0.5rem 1.5rem 0 2rem;
  }
  @include breakpoint(513px){
    padding: 0.5rem 1.5rem 0 3rem;
  }
  @include breakpoint($desktop){
    padding: 0.5rem 1.5rem 0 4rem;
  }

  @include breakpoint(1200px){
    font-size: 1.125rem;
    padding: 2rem 1.5rem 0;
    width: 1200px;
    margin: 0 auto;
    margin-left: -600px;
    left: 50%;
  }
}
.home {
  .header-container{
    padding: 0.5rem 1.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width:100%;
    max-width: 1200px;

    @include breakpoint(370px){
      padding: 0.5rem 1.5rem 0;
    }
    @include breakpoint(513px){
      padding: 0.5rem 1.5rem 0;
    }
    @include breakpoint($desktop){
      padding: 0.5rem 1.5rem 0;
    }

    @include breakpoint(1200px){
      font-size: 1.125rem;
      padding: 2rem 1.5rem 0 2rem;
      width: 1200px;
      margin: 0 auto;
      margin-left: -600px;
      left: 50%;
    }
  }
}

.bxslider {
  position: relative;
  width: 100%;
  font-size: 0;
}
.bx-wrapper .bx-viewport {
  transform: none;
  background-color: $black;
}

.slide {
  top: -1px;
}

.slide-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.slide-content {
  position: absolute;
  top: 111px;
  right: 94px;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
  width: 320px;

  @include breakpoint(370px){
    top: 160px;
    right: 150px;
    font-size: 12px;
    width: 370px;
  }

  @include breakpoint(513px){
    top: 210px;
    right: 177px;
    font-size: 13px;
    width: 513px;
  }

  @include breakpoint(640px){
    top: 225px;
    right: 260px;
    font-size: 13px;
    width: 640px;
  }

  @include breakpoint(720px){
    right: 333px;
    font-size: 14px;
    width: 720px;
  }

  @include breakpoint(860px){
    right: 80px;
    font-size: 14px;
    width: 100%;
  }

  @include breakpoint($desktop){
    top:34%;
    font-size: 16px;
  }
  @include breakpoint($widescreen){
    right: 7.4rem;
  }

  p {
    text-transform: uppercase;
    @include fontBold;
    color: $white;
    text-shadow: 0 0 44px rgba(0, 0, 0, 0.6);
    font-size: 1.25em;
    margin: 0 0 1em;
  }
  h2 {
    @include fontBold;
    text-transform: uppercase;
    color: $white;
    line-height: 1;
    text-shadow: 0 0 34px rgba(0, 0, 0, 0.3);
    font-size: 3em;
    margin: 0;
    
    @include breakpoint(513px){
      font-size: 3.5em;
    }

    @include breakpoint(640px){
      font-size: 4em;
    }

    @include breakpoint($desktop){
      font-size: 5.625em;
    }
  }
  h3 {
    text-transform: uppercase;
    color: $white;
    @include fontLight;
    text-shadow: 0 0 34px rgba(0, 0, 0, 0.8);
    font-size: 1em;

    @include breakpoint(370px){
      font-size: 1.4em;
    }
    @include breakpoint(513px){
      font-size: 1.8em;
    }

    @include breakpoint(640px){
      font-size: 2em;
    }

    @include breakpoint($desktop){
      font-size: 2.8125em;
    }
  }
  .cta-button {
    margin-right: 3.8rem;
  }
}


.header-mask {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.header-logo-col {
  width: 61px;
  float: left;
  margin-right: 1.2rem;

  @include breakpoint(370px){
    width: 71px;
  }
  @include breakpoint(513px){
    width: 90px;
  }
  @include breakpoint($desktop){
    width: 102px;
  }
}

.home {
  .header-logo-col{
    width: 61px;
    float: left;
    margin-right: 2.5;

    @include breakpoint(370px){
      width: 91px;
    }
    @include breakpoint(513px){
      width: 104px;
    }
    @include breakpoint($desktop){
      width: 137px;
    }
  }
}

.nav-triggers {
  float:right;

  @include breakpoint(860px){
    float:left;
  }
}

.hamburger {
  display: block;
  width: 35px;
  margin-top: 0.5rem;

  @include breakpoint(370px){
    width: 45px;
  }
  @include breakpoint(860px){
    display: none;
    
  }
  @include breakpoint($desktop){

  }
}

#menu-top-nav {
  display: none;

  li{
    display: inline-block;
    list-style-type: none;
    @include fontLight;

    
    @include breakpoint(860px){
      margin-right: 1rem;
    }

    @include breakpoint($desktop){
      margin-right: 4rem;
    }  
  }
  a {
    text-transform: uppercase;
    cursor: default;
    &:link, &:visited{
      color: $brown;
    }
    &:hover, &:active{
      color: $brown;
      text-decoration: underline;
    }
  }
  &.visible {
    opacity: 1;

    a {
      cursor: pointer;
    }
  }
  
  @include breakpoint(860px){
    display: block;
    opacity: 0;
    overflow: hidden;
    transition: opacity 400ms ease-in-out;
  }
}
.home-features {
  margin-top: -6rem;
  @include container;
}

.subpage-banner {

  img {
    min-width: 120%;
    display: block;

    @include breakpoint(860px){
      min-width: 100%;
    }
  }
}

// ----------------------------------------------------------
// CTA
// ----------------------------------------------------------

.cta {
  border-top: 4px solid $gold;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  padding: 1.625rem 2.1875rem;
  margin: 0 0 2rem;

  
}

.home-features {
  .cta {

    @include breakpoint($tablet){
      @include span(4 of 12);

      &:nth-child(3n) {
        @include span(last 4 of 12);
      }
    }
  }
}
.cta-title {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0 0 1.625rem;
}
.cta-image {
  margin-bottom: 1.25rem;
  width: 100%;
}
.cta-text {
  margin: 0 0 1rem 0;
}
.cta-button {
  display: inline-block;
  font-size: 0.75rem;
  height: 24px;
  padding: 0.2rem 1.7rem .3rem .56rem;
  position: relative;
  text-transform: uppercase;

  &:link, &:visited{
    color: $white;
    background-color: $red;
    text-decoration: none;
  }
  &:hover, &:active{
    color: $goldLight;
    text-decoration: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 0 solid transparent;
    border-right: 60px solid transparent;
    border-top: 24px solid $red;
  }
}

// ----------------------------------------------------------
// Events
// ----------------------------------------------------------

.events {
  @include container;
}
.event {
  @include container;
  margin: 0 0 3rem;
  padding: 1rem 0 0;
  border-top: 4px solid $gold;

  ul {
    margin: 0 0 1rem;
    padding: 0;
    li {
      font-style: italic;
      list-style-type: none;
    }
  }
}
.event-image {
  margin: 0.4rem 0 1rem;
  @include breakpoint($tablet){
    @include span(first 4 of 8);
  }
}
.event-info {
  margin-bottom: 1rem;
  @include breakpoint($tablet){
    @include span(last 4 of 8);
  }
}
.event-title {
  @include fontBold;
  margin: 0 0 0.3em;
  line-height: 1.1em;
}
.event-date {
  @include fontBold;
  font-style: italic;
  margin: 0 0 1rem;
}
.event-description {
  clear: both;
}

// ----------------------------------------------------------
// photos
// ----------------------------------------------------------
.gallery {
  @include clearfix;
  padding: 1rem 0;
}
.gallery-image {
  margin: 0 0 1rem;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  background-size: cover;
  position: relative;

  a {
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 92%;
      height: 92%;
      margin: 4%;
      background-color: rgba($brown,.0);
      transition: background $transition;
    }
    &:after {
      content: "";
      display: block;
      width: 57px;
      height: 57px;
      background: url('assets/images/expand-arrows.png') no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -28.5px 0 0 -28.5px;
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover, &:active{
      &:before {
        background-color: rgba($brown,.6)
      }
      &:after {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 49.1%;
    @include span(6 of 12);

    &:nth-child(2n) {
      @include span(last 6 of 12);
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 32.2%;
    @include span(4 of 12);

    &:nth-child(2n) {
      @include span(4 of 12);
    }
    &:nth-child(3n) {
      @include span(last 4 of 12);
    }
  }
}

.fancybox-nav {
  width: 30px !important;
  top: 41% !important;
  height: auto !important;
}
.fancybox-prev {
  left: -50px !important;
}
.fancybox-next {
  right: -50px !important;
}

// ----------------------------------------------------------
// Sponsors
// ----------------------------------------------------------
.corp-sponsors {
  @include clearfix;
  padding: 1rem 0;
}
.corp-sponsor-logo {
  height: 180px;
  display: block;
  margin: 0 0 1rem;
  max-width: 320px;
  
  .img-wrapper {
    padding-left: gutter();
  }
  img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 520px) {
    max-width:none;

    @include span(6 of 12);

    &:nth-child(2n) {
      @include span(last 6 of 12);
    }

    .img-wrapper {
      border-left: 1px solid $brown;
    }
    &:first-child {
      .img-wrapper {
        border-left: none;
      }
    }
    &:nth-child(2n + 1) {
      .img-wrapper {
        border-left: none;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    @include span(3 of 12);

    &:nth-child(2n) {
      @include span(3 of 12);
    }
    &:nth-child(4n) {
      @include span(last 3 of 12);
    }

    &:nth-child(2n + 1) {
      .img-wrapper {
        border-left: 1px solid $brown;
      }
    }

    &:first-child {
      .img-wrapper {
        border-left: none;
      }
    }
    
    &:nth-child(5n) {
      .img-wrapper {
        border-left: none;
      }
    }
  }
}

// ----------------------------------------------------------
// people
// ----------------------------------------------------------
.people {
  padding: 2rem 0 0 0;
}
.person {
  margin: 0 0 3rem;
  padding: 1rem 0 0;
  border-top: 4px solid $gold;

  .name,
  .company,
  .email,
  .phone {
    @include fontBold;
    margin: 0 0 0.2em;
    line-height: 1.1em;
  }
  .title, 
  {
    @include fontBold;
    font-style: italic;
    margin: 0 0 0.2em;
  }
}
// ----------------------------------------------------------
// membership
// ----------------------------------------------------------
.membership {
  margin: 0 auto 2rem;
  min-height: 320px;
  max-width: 380px;
  text-align: center;
  img {
    width: 100%;
  }
  .price {
    display: inline-block;
    padding: .2rem 1rem 0 0;
    color: $red !important;
    position: relative;
    top: 2px;
    line-height: 15px;
  }
  h3 {
    margin: 0 0 .4rem;
  }
  @media screen and (min-width: 550px) {
    @include span(6 of 12);

    &:nth-child(2n) {
      @include span(last 6 of 12);
    }
  }
  @media screen and (min-width: 860px) {
    @include span(4 of 12);

    &:nth-child(2n) {
      @include span(4 of 12);
    }
    &:nth-child(3n) {
      @include span(last 4 of 12);
    }
  }
}

// ----------------------------------------------------------
// Woocommerce overides
// ----------------------------------------------------------

.woocommerce-breadcrumb {
  display: none;
}
.woocommerce-button-override {
  display: inline-block !important;
  font-size: 0.75rem !important;
  height: 24px !important;
  padding: 0.4rem 1.7rem .3rem .56rem !important;
  position: relative !important;
  border-radius: 0 !important;
  margin-right: 60px !important;
  background-color: $red !important;
  color: $white !important;

  &:link, &:visited{
    color: $white !important;
    background-color: $red !important;
    text-decoration: none !important;
  }
  &:hover, &:active{
    color: $goldLight !important;
    text-decoration: none !important;
  }

  &:after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    right: -60px !important;
    display: block !important;
    width: 0 !important; 
    height: 0 !important; 
    border-left: 0 solid transparent !important;
    border-right: 60px solid transparent !important;
    border-top: 24px solid $red !important;
  }
}

.woocommerce-message, .woocommerce-info {
  border-top: 4px solid $gold !important;

  a {
    float: right;
    @extend .woocommerce-button-override;
  }

  &:before {
    color: $gold !important;
  }
}

.woocommerce-info {
  a {
    padding-top: 0.2rem !important;
  }
}

.woocommerce div.product p.price {
  color: $red !important;
}

.woocommerce .button {
  @extend .woocommerce-button-override;
}
.woocommerce input.button {
  padding-right: .56rem !important;
}

.woocommerce a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  /* border-radius: 100%; */
  color: $gold !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;

  &:hover {
    color: $red !important;
  }
}

.select2-container .select2-choice {
  height: 24px !important;
  border-radius: 0 !important;
  border: 1px solid rgba(0,0,0,0.3) !important;
}
.select2-container .select2-choice>.select2-chosen {
  line-height: 1.44em !important;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
  margin-bottom: 2rem !important;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: $gold !important;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 1px solid rgba(0,0,0,0.3) !important;
}
.woocommerce #ship-to-different-address-checkbox {
  vertical-align: middle;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.woocommerce table.shop_table {
  border: 1px solid rgba(0,0,0,0.3) !important;
}
#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th {
  border-top: 1px solid rgba(0,0,0,0.3) !important;
}

.woocommerce-page table.cart td.actions .button {
  margin-right: 0 !important;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  margin-right: 0 !important;
}
// ----------------------------------------------------------
// Footer Map
// ----------------------------------------------------------

.footer-map {
  background-color: $goldLight;
}
.footer-map-title {
  @include fontBold;
  color: $brown;
  font-size: 1.8125rem;
  text-transform: uppercase;
  margin: 0;
}
.footer-map-address {
  background-color: $gold;

  p {
    margin: 0;
    padding: 0.8rem 0;
    color: $white;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}


// ----------------------------------------------------------
// Site Footer
// ----------------------------------------------------------

.site-footer {
  background-color: $brown;
  @include clearfix;
  padding: 0 0 1rem;
}

.footer-left-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(6);
  }
}

.footer-right-col {
  padding: 1rem 0 0 0;
  @include breakpoint($tablet){
    @include span(last 6);
    padding: 3rem 0 0 0;
  }
}

.footer-logo {
  display: block;
  width: 81px;
}

.social-icons {
  @include breakpoint($tablet){
    text-align: right;
  }
}

.affiliate-logos {
  @include breakpoint($tablet){
    text-align: right;
  }
  a {
    display: inline-block;
    margin: 0 0 1rem 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.social-icon {
  fill: $white;
  display: inline-block;
  margin: 0 0.4rem;
  width: 1.5rem;

  &:link, &:visited{
    color: $white;
  }
  &:hover, &:active{
    
  }
}

.copyright {
  color: $white;
  opacity: 0.32;
  @include breakpoint($tablet){
    text-align: right;
  }
}
